
# <font color="purple"> Manipulate loops </font>

## <font color="green"> Basic loops </font>

Display all elements of the list `libraries` (one element per line) in three different ways (two with `for` and one with `while`).

In [1]:
libraries = ["numpy", "pandas", "tensorflow", "flask"]

In [5]:
for library in libraries:
    print(library)

numpy
pandas
tensorflow
flask

In [8]:
for _, library in enumerate(libraries):
    print(library)

numpy
pandas
tensorflow
flask

In [4]:
for i in range(len(libraries)):
    print(libraries[i])

numpy
pandas
tensorflow
flask

In [6]:
i = 0
while i < len(libraries):
    print(libraries[i])
    i += 1

numpy
pandas
tensorflow
flask

## <font color="green"> Days of the week (back) </font>


Write a series of instructions displaying the weekdays of the week, using a `for` loop, followed by another series of instructions displaying the weekend days, using a `while` loop.

In [10]:
week = [
    "monday",
    "tuesday",
    "wednesday",
    "thursday",
    "friday",
    "saturday",
    "sunday",
]

In [17]:
for day in week[:5]:
    print(day)

print("\n")

i = -1
while i > -3:
    print(week[i])
    i -= 1

monday
tuesday
wednesday
thursday
friday


sunday
saturday

## <font color="green"> Even and odd numbers </font>

Construct the list `even_numbers` of even numbers from the list odd_numbers: for this, you can iterate over `odd_numbers` and add 1 to each element before adding it to `even_numbers`.

In [18]:
odd_numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

In [22]:
even_numbers = [odd_number + 1 for odd_number in odd_numbers]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]

In [21]:
even_numbers = []
for odd_number in odd_numbers:
    even_numbers.append(odd_number + 1)
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]

## Calcul de la moyenne

"The grades of a student are contained in the list `grades`. Calculate the average. Display the average value with two decimal places."

In [24]:
grades = [70, 45, 30, 40, 60]

In [30]:
mean_grades = sum(grades) / len(grades)
print(f"{mean_grades:.2f}")

49.00

In [28]:
total_grades = 0
n_grades = 0
for grade in grades:
    total_grades += grade
    n_grades += 1
mean_grades = total_grades / n_grades
print("{:.2f}".format(mean_grades))

49.00

## <font color="green"> Product of consecutive even integers </font>

Using the functions [`list`](https://docs.python.org/fr/3/library/functions.html#list) and [`range`](https://docs.python.org/fr/3/library/functions.html#range), create the list `a` containing the even integers from 2 to 20 inclusive.

Then, calculate the product of consecutive numbers from `a` two by two from using a loop and print them line by line.

Example for the first iterations:
```
8
24
48
[...]
```

In [38]:
len(a)

10

In [43]:
a = list(range(2, 21, 2))

products = []
for i, element in enumerate(a[:-1]):
    products.append(element * a[i + 1])
print(products)

[8, 24, 48, 80, 120, 168, 224, 288, 360]

In [44]:
[element * a[i + 1] for i, element in enumerate(a[:-1])]

[8, 24, 48, 80, 120, 168, 224, 288, 360]

In [47]:
# syntaxe bonus:
[current * next for current, next in zip(a, a[1:])]

[8, 24, 48, 80, 120, 168, 224, 288, 360]

In [48]:
type(zip(a, a[1:]))

zip

## <font color="green"> Triangle </font>

Write code to draw a triangle like this one:
```
*
**
***
****
*****
******
*******
********
*********
**********
```

In [51]:
for i in range(1, 11):
    print("*" * i)

*
**
***
****
*****
******
*******
********
*********
**********

## Upside-down triangle

Write code to draw a triangle like this one:
```
**********
*********
********
*******
******
*****
****
***
**
*
```

In [53]:
for i in range(10, 0, -1):
    print("*" * i)

**********
*********
********
*******
******
*****
****
***
**
*

## <font color="green"> Flea jumps </font>

Let's consider a flea that moves randomly on a graduated line, forward or backward, by steps of 1 or -1. For example, if it is at location 0, it can jump to location 1 or -1; if it is at location 2, it can jump to location 3 or 1, and so on.

Using a while loop, simulate the movement of a flea starting from the initial location 0 and stopping as soon as it reaches location 5. Plan to count the number of jumps made during the journey.

Tip: You can use the random.choice([-1, 1]) statement, which randomly returns the values -1 or 1 with the same probability. Before using this statement, you need to import the random library as follows:
```python
import random
```

In [57]:
import random

n_jumps = 0
position = 0
while position != 5:
    position += random.choice([-1, 1])
    n_jumps += 1
print(n_jumps)

25

## <font color="green"> Fibonacci sequence </font>

The [Fibonacci sequence](https://en.wikipedia.org/wiki/Fibonacci_sequence) is a mathematical sequence named after Leonardo Fibonacci, an Italian mathematician from the 13th century. Initially, this sequence was designed to describe the growth of a population of rabbits, but it can also be used to describe certain geometric patterns found in nature (shells, sunflower seeds, etc.).

The Fibonacci sequence $(F_n)$ is defined by $F_0 = 0$, $F_1 = 1$, and for all $n > 1$, $F_n = F_{n − 1} + F_{n − 2}$ (meaning each term is the sum of the two preceding terms).

For example, the first 10 terms of the Fibonacci sequence are 0, 1, 1, 2, 3, 5, 8, 13, 21, and 34.

Create a script that calculates a list `fibo` with the first 20 terms of the Fibonacci sequence and then displays it.

Improve this script by displaying, for each element of the list `fibo` with $n > 1$, the ratio between the element of rank $n$ and the element of rank $n − 1$.

In [58]:
fibo = [0, 1]

for _ in range(18):
    fibo.append(fibo[-1] + fibo[-2])
print(fibo)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]

In [59]:
for i in range(2, len(fibo)):
    print(fibo[i] / fibo[i - 1])

1.0
2.0
1.5
1.6666666666666667
1.6
1.625
1.6153846153846154
1.619047619047619
1.6176470588235294
1.6181818181818182
1.6179775280898876
1.6180555555555556
1.6180257510729614
1.6180371352785146
1.618032786885246
1.618034447821682
1.6180338134001253
1.618034055727554

For your information, the ratio $\frac{\text{F}_n}{\text{F}_{n - 1}}$ converges to the [golden ratio](https://en.wikipedia.org/wiki/Golden_ratio).